@model WebTruyen.Models.Truyen

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="container">
    <script src="~/ckeditor/ckeditor.js"></script>
    <br />
    <h2>Thêm Chương</h2>

    @using (Html.BeginForm("Create", "Chuong", FormMethod.Post, new
    {
        @enctype = "multipart/form-data"
    }))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Truyện :</label>
        <div class="col-md-10">

            @Html.DropDownList("MaTruyen")
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">So Chuong</label>
        <div class="col-md-10">
            <input type="text" name="SoChuong" value="@ViewBag.SoChuong" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Nội Dung:</label>
        <div class="col-md-10">
            <textarea name="NoiDung" id="mota">@ViewBag.NoiDung</textarea>
            <script>CKEDITOR.replace('mota');</script>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tiêu Đề:</label>
        <div class="col-md-10">
            <input type="text" name="TieuDe" value="@ViewBag.TieuDe" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Hình:</label>
        <div class="col-md-10">
            <input type="file" name="fFileUpload" />
            @ViewBag.ThongBao
        </div>
    </div>

    <!-- /.tab-content -->

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm Chuong" class="btn btn-default" />
        </div>
    </div>
    <br />
</div>
    }

    <div>
        @Html.ActionLink("Quay về trang quản lý ", "Index")
    </div>
</div>

}