@model IEnumerable<WebTruyen.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDung.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
       
    </tr>
}

</table>
