@using WebTruyen.Models
@using PagedList.Mvc;
@model PagedList.PagedList<WebTruyen.Models.Truyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

    <h2 style="text-align:center">Quản lý danh sách truyện</h2>

    <p>
        @Html.ActionLink("Thêm mới", "Create")
    </p>

    <table class="table" style="align-content:center">
        <tr>
            <th style="text-align: center; width: 70px">
                Tên truyện
            </th>
            <th style="text-align: center; width: 80px">
                Tác giả
            </th>
            <th style="text-align: center; width: 150px">
                Mô tả
            </th>
            <th style="text-align: center; width: 70px">
                Trạng thái
            </th>
            <th style="text-align: center; width: 100px">
                Tên thể loại
            </th>
            <th style="text-align: center; width: 70px">
                Ngày sản xuất
            </th>
            <th style="text-align:center;width:100px">
                @Html.DisplayNameFor(model => model.First().Hinh)
            </th>
            <th style="text-align:center;width:70px">
                Số lượt xem
            </th>
            <th style="text-align: center; width: 70px">
                Điểm đánh giá
            </th>
            <th style="text-align: center; width: 70px">
                @Html.DisplayNameFor(model => model.First().GiaTruyen)
            </th>

            <th style="text-align: center; width: 70px">
                Số lượng bán
            </th>
            <th style="text-align:center"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTruyen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TacGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
                </td>
                <td>
                    @Html.FormatValue(item.NgayXuatBan, "{0:MM/dd/yyy}")
                </td>
                <td>
                    <img src="~/img/@item.Hinh" style="width:50px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuotXem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemDanhGia)
                </td>
                <td>
                    @Html.FormatValue(item.GiaTruyen, "{0:#,##0}")
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongBan)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.MaTruyen })" class="btn btn-warning" role="button">Sửa</a>

                    <a href="@Url.Action("Details", new { id = item.MaTruyen })" class="btn btn-primary" role="button">Chi tiết</a>

                    <a href="@Url.Action("Delete", new { id = item.MaTruyen })" class="btn btn-danger" role="button">Xóa</a>
                </td>
            </tr>
        }

    </table>


    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 :Model.PageNumber)/@Model.PageCount
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
    <style>
        .MenuTrang {
            display: inline;
            text-align: center;
        }
    </style>

